.star__icon{
    font-size: 1.6rem;
    color: var(--color-btn);
}
.rating__stars{
    display: flex;
    align-items: center;
    gap: 1.5rem;
}
.rating__stars > span:nth-child(1){
    display: flex;
    align-items: center;
    gap: .3rem;
}
.rating__stars > span:nth-child(2){
    font-size: 1.6rem;
}