.card__amount {
    width: 12rem;
    margin-top: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 3rem;
}

button {
    background: transparent;
    font-size: 2rem;
    color: var(--color-light);
    cursor: pointer;
}

.card__amount p {
    font-size: 2rem;
    font-weight: 700;
}