.about__hero-container {
    padding-top: 7rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 9rem;
    align-items: center;
}
.about__hero-content{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.about__hero-content > div > h3{
    font-size: 1.5rem;
    margin-bottom: .5rem;
}
.about__hero-content > div > h1{
    font-size: 3.5rem;
    color: var(--color-btn);
}
.about__hero-content h5{
    font-size: 1.4rem;
    line-height: 1.7;
    font-weight: 500;
}
.about__hero-image{
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
    padding-top: 5rem;
    position: relative;
}
.about__hero-image img{
    width: 100%;
    height: 100%;
}

/* ===============MEDIA QUERY(MEDIAM SCREEN)===================== */
@media screen and (max-width: 1024px) {
    .about__hero-container {
        padding-top: 6rem;
        grid-template-columns: 1fr;
        gap: 5rem;
    }
}


/* ===============MEDIA QUERY(SMALL SCREEN)===================== */
@media screen and (max-width: 650px) {
    .about__hero-container {
        padding-top: 4rem;
        grid-template-columns: 1fr;
        gap: 2rem;
    }
    .about__hero-content > div > h1{
        font-size: 2.5rem;
        color: var(--color-btn);
    }
}