.services__container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 4rem;
}
.services__container .services__card{
    background: var(--color-nav);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 8rem 2rem;
    border-radius: 1rem;
}
.services__container .services__card span:nth-child(1){
    display: grid;
    place-items: center;
    background: var(--color-white);
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-bottom: 2rem;
}
.services__container .services__card span:nth-child(2){
    font-size: 1.8rem;
    font-weight: 400;
    letter-spacing: 1px;
}
.services__icon{
    font-size: 4rem;
    color: var(--color-btn);
}
.services__card2{
    display: grid;
    grid-template-rows: 1fr 1fr;
    border-radius: 1rem;
    gap: 3rem;
}
.services__card2 > div{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0rem 2rem;
    gap: 1rem;
    background: var(--color-nav);
    border-radius: 1rem;
}
.services__card2 > div span:nth-child(1){
    display: grid;
    place-items: center;
    background: var(--color-white);
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.services__card2 > div span:nth-child(2){
    font-size: 1.8rem;
    font-weight: 400;
    letter-spacing: 1px;
}



/* ===============MEDIA QUERY(MEDIAM SCREEN)===================== */
@media screen and (max-width: 1024px) {
    .services__container{
        grid-template-columns: repeat(2, 1fr);
        gap: 6rem;
    }
    
}


/* ===============MEDIA QUERY(SMALL SCREEN)===================== */
@media screen and (max-width: 650px) {
    .services__container{
        grid-template-columns: 1fr;
        gap: 3rem;
    }
    
    .services__card2 > div{
        padding: 5rem 2rem;
        gap: 1rem;
    }
    
}